[submodule "session-6-assignment-mathurk29"]
	path = session-6-assignment-mathurk29
	url = https://github.com/mathurk29/session-6-assignment-mathurk29.git
[submodule "session-7-assignment-mathurk29"]
	path = session-7-assignment-mathurk29
	url = https://github.com/mathurk29/session-7-assignment-mathurk29
[submodule "session-8-assignment"]
	path = session-8-assignment
	url = https://github.com/mathurk29/session-8-assignment
[submodule "session-9-assignment-mathurk29"]
	path = session-9-assignment-mathurk29
	url = https://github.com/mathurk29/session-9-assignment-mathurk29
[submodule "session-10-assignment-mathurk29"]
	path = session-10-assignment-mathurk29
	url = https://github.com/mathurk29/session-10-assignment-mathurk29
